In [74]:
import pandas as pd
import numpy as np

xl = pd.ExcelFile("data.xlsx")
xl.sheet_names
df = xl.parse("Sheet1")
df.head()

,ID number,Conveyance,Page,Researcher,Notary First Name,Notary Last Name,Sales Date,Sellers First Name,Sellers Last Name,Sellers County of Origin,...,Interest Rate,Discount Rate,predicted rate,Calculations,Ratio,PresentValue,DUMMY omission,Reason for Omission,Comments,DUMMY Estate Sale
0,1,70,348,MS,John French,Coffey,10/6/1856,Benjamin,Screws,.,...,NaN,0.006027,0.07477,NaN,NaN,NaN,0,NaN,NaN,NaN
1,2,70,349,MS,William,Shannon,10/7/1856,Santiago,Galseran,New Orleans,...,NaN,0.006027,0.07477,NaN,NaN,NaN,0,NaN,NaN,NaN
2,3,70,351,MS,Edward George,Gottschalk,10/1/1856,Pierre,Macou,New Orleans,...,NaN,0.006027,0.07477,NaN,NaN,NaN,0,NaN,NaN,NaN
3,4,70,352,MS,Paul Emile,Laresche,10/8/1856,Benjamin Franklin,Irby,Vanzand,...,NaN,0.006027,0.07477,NaN,NaN,NaN,0,NaN,NaN,NaN
4,5,70,352,MS,George,Rareshide,10/8/1856,Richard,Condon,New Orleans,...,NaN,0.006027,0.07477,NaN,NaN,NaN,0,NaN,NaN,NaN

In [91]:
#Dropping entries marked as omitted
df = df[ df["DUMMY omission"] == 0 ]
df.drop_duplicates()
df.head()
#df.info()

,ID number,Conveyance,Page,Researcher,Notary First Name,Notary Last Name,Sales Date,Sellers First Name,Sellers Last Name,Sellers County of Origin,...,Interest Rate,Discount Rate,predicted rate,Calculations,Ratio,PresentValue,DUMMY omission,Reason for Omission,Comments,DUMMY Estate Sale
0,1,70,348,MS,John French,Coffey,10/6/1856,Benjamin,Screws,.,...,NaN,0.006027,0.07477,NaN,NaN,NaN,0,NaN,NaN,NaN
1,2,70,349,MS,William,Shannon,10/7/1856,Santiago,Galseran,New Orleans,...,NaN,0.006027,0.07477,NaN,NaN,NaN,0,NaN,NaN,NaN
2,3,70,351,MS,Edward George,Gottschalk,10/1/1856,Pierre,Macou,New Orleans,...,NaN,0.006027,0.07477,NaN,NaN,NaN,0,NaN,NaN,NaN
3,4,70,352,MS,Paul Emile,Laresche,10/8/1856,Benjamin Franklin,Irby,Vanzand,...,NaN,0.006027,0.07477,NaN,NaN,NaN,0,NaN,NaN,NaN
4,5,70,352,MS,George,Rareshide,10/8/1856,Richard,Condon,New Orleans,...,NaN,0.006027,0.07477,NaN,NaN,NaN,0,NaN,NaN,NaN

In [101]:
new_df = df[['Sales Date', 'Slave Name', 'Sex', 'Age', 'Color', 'Buyers County of Origin', 'Buyers State of Origin', 
            'Sellers County of Origin','Sellers State of Origin',
             'Price', 'Payment Method', 'Number of Total Slaves','Number of Adult Slaves', 'Number of Child Slaves']].copy()


new_df['Buyers Full Name'] = df['Buyers First Name'] + ' ' + df['Buyers Last Name']
new_df['Sellers Full Name'] = df['Sellers First Name'] + ' ' + df['Sellers Last Name']

dti = pd.DatetimeIndex(df['Sales Date'])
new_df['Sales Year'] = dti.year 
new_df['Sales Month'] = dti.month
new_df['Sales Day'] = dti.day

#new_df = new_df.drop(['Buyers First Name','Buyers Last Name'], 1)


columnsTitles = ['Sales Date',
                 'Sales Year',
                 'Sales Month',
                 'Sales Day',
                 'Slave Name', 
                 'Sex', 
                 'Age', 
                 'Color', 
                 'Buyers Full Name',
                 'Buyers County of Origin', 
                 'Buyers State of Origin', 
                 'Sellers Full Name',
                 'Sellers County of Origin',
                 'Sellers State of Origin', 
                 'Price', 
                 'Payment Method', 
                 'Number of Total Slaves',
                 'Number of Adult Slaves',
                 'Number of Child Slaves']

new_df = new_df.reindex(columns=columnsTitles)

new_df.head()
#new_df[new_df['Slave Name'] == 'Mary Ann']

,Sales Date,Sales Year,Sales Month,Sales Day,Slave Name,Sex,Age,Color,Buyers Full Name,Buyers County of Origin,Buyers State of Origin,Sellers Full Name,Sellers County of Origin,Sellers State of Origin,Price,Payment Method,Number of Total Slaves,Number of Adult Slaves,Number of Child Slaves
0,10/6/1856,1856,10,6,Shadrack,M,40,.,Maria Hopson,.,.,Benjamin Screws,.,AL,650,Cash,1,1,0
1,10/7/1856,1856,10,7,Jane,F,44,Negro,Peyton N. Reynolds,New Orleans,LA,Santiago Galseran,New Orleans,LA,550,Cash,1,1,0
2,10/1/1856,1856,10,1,Helen,F,24,Negro,Heloise Bagneris,New Orleans,LA,Pierre Macou,New Orleans,LA,1000,Cash,1,1,0
3,10/8/1856,1856,10,8,Jeff,M,23,Negro,Francis Dugue Jr.,Jefferson,LA,Benjamin Franklin Irby,Vanzand,TX,1400,Cash,1,1,0
4,10/8/1856,1856,10,8,John,M,12,Negro,Anthony O'Dowd,New Orleans,LA,Richard Condon,New Orleans,LA,700,Cash,1,1,0